#reservations {
  left: 812px;
  position: relative;
}

img {
  width: 100%;
  z-index: -1;
  position: absolute;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

#top {
  height: 523px;
}